*{
   
}

body {
    background-color:black;
}
.post{
    width: 550px;
    height: 750px;
    border: solid 1px #000;
    margin: auto;
    margin-top: 5%;
    background-color: white;
   
    
    
    
    


}

.title{
    width: 100%;
    height: 85px;
    
    display: flex;
    
}

.title h1{
    margin: 0%;
    margin-left: 10px;
    font-size: medium;
    padding-top: 25px;
    
}

.imgen{
    width: auto;
    height: 400px;
    
}

.imgen img {
    width: 550px;
    height: 100%;
    object-fit: cover;
}


.material-symbols-outlined {
margin-top:30px;
margin-left: 25%;

}
.logo{
    width: 60px;
    height: 100%;
    
   
    padding-left: 5%;
    padding-top: 20px;
}
.ALBERTO{
    width: 500px;
    height: 100%;
    
    
}
.ALBERTO h1{
    margin: 0%;
}
.icono{
    width: 40px;
    height: 100%;
    padding-top: 5%;
    font-size:x-large;
    
    
}

.masiconos{
    width: auto;
    height: 85px;
    font-size: x-large;
    
    
    

   
    
    
}

.textpeq{
    width: 100%;
    height: 40px;
    
    
}

.textgrand{
    width: 100%;
    height: 130px;
    
    
}

p {
    line-height: 1.3;
    margin: 0%;
    margin-left: 20px;
    margin-right: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }

.masiconos  {
    display: flex;
    align-items: center;
    padding-left: 5%;
    
     gap: 10px;
}

.icono-final {

margin-left: auto;
padding-right: 5%;



}

